.populares{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 150px;
    font-size: 60px;
    
}

li {
    margin-bottom: 100px;
    /* margin: 50px; */
    margin-left: 50px;
}

.imagenPopular {
  
    margin: 10px;
    height: 600px;
    border-radius: 50px;
}

.Footer {
    
}