

/* Titulo Web */


.TituloWebSeries{
    text-align: center;
    margin-top: 250px;
    margin-bottom: 10px;
    padding: 3px;
    font-size: 100px;
    background:-webkit-linear-gradient(  rgb(176, 57, 136) 10%, black); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* font-family: 'Dosis', sans-serif; */

}


/* Para que se vea al inico solo la busqueda le doy un valor de View Port Height al 100% */


.VistaInicial {

    height: 100vh;
}


.section {

    justify-content: center;
    flex-wrap: wrap;
      color: radial-gradient(cyan, black)
    
    }


    
    .section ul {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
       margin: 20px;
    
    
    }

    .TituloPeliculas {
      

    }

    .TituloSeries {
        text-align: center;
        margin-top: 200px;
        margin-bottom: 200px;
        color: white;
        font-size: 60px;
        font-family: 'Dosis', sans-serif;

    }
    
    
    .container img {
        border-radius: 50px;
        
    }
    .container img:hover {
        cursor: pointer;
      
    }
    .section ul {
        list-style: none;
    }
    
    .section h1 {
        text-align: center;
    }
    
    .section button {
        background-color:transparent;
        border-color: transparent;
    }
    
    .section button:hover {
        background-color: lightblue;
        border-color: none;
        border-radius: 100px;
       
    }


    /* View info es la caja donde se muestra la info de las peliculas la hacer click */
    
.ViewInfo{
    background-size: cover;
    min-height: 800px;
    margin-bottom: 100px;
    border-radius: 100px;
 

    margin-right: 50px;
    margin-left: 50px;

}


    
.text-center {
    margin-top: 10px;
    margin-bottom: 100px;
    color: white;
    font-family: 'Dosis', sans-serif;
}


/* Busqueda */

.ContainerBusqueda{
    display: flex;
    margin-bottom: 200px;
    font-family: 'Dosis', sans-serif;
}



.InputBusqueda {
    width: 500px;
    height: 50px;
    border-radius: 20px;
    padding-left: 20px;
    margin-left: 20px;
    color:white;
 
}

.btn {
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 5px;
    height: 40px;
    width: 100px;
    
}





.InputBusquedaSerie {

    width: 500px;
    height: 50px;
    border-radius: 20px;
    padding-left: 20px;
    margin-left: 20px;
    color:white;
}

.InputBusquedaSerie::placeholder {

    color: rgb(176, 57, 136);
    font-size: 20px;
    opacity:  50%;
}

.Estudiante ul li {
    
    color: white;
    font-family: 'Dosis', sans-serif;

}